---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🏇 Hello, Strider!</h2>
			<p>
				Welcome to the official <a href="https://astro.build/">Strider</a> app, where you can get links transported to where you ask, and even monetize them.
			</p>
			<p>
				Contact <code>foreignstrider@gmail.com</code> to enquire about setting up processes and use our solutions to help your trade or business.
			</p>
			<p>Your Partner for Seamless Link Sharing and Third-Party Management
				Strider is a specialized app designed to handle the processes that your business or team can’t manage optimally on their own.<br> From distributing links to handling third-party transactions and conversions, we ensure that everything works smoothly and efficiently.
				Streamline Your Workflow with Strider.</p>
				<ul>
				<li><code>Efficient Link Sharing:</code> Share and distribute access links, invite links, or any type of URL with ease and precision.</li>

				<li><code>Conversion Optimization:</code> Maximize the success of your token purchases, memberships, or digital offerings by letting us handle the transactions.</li>

				<li><code>Third-Party Integration:</code> We manage the third-party processes that are crucial to your operations, so you don’t have to worry about them.</li>
				</ul>
			<ul>
				<h3>Features</h3>
				<li><code>Link Distribution Made Simple:</code>
					Distribute links securely and efficiently to your audience. Whether you're sending invite links, access links, or handling membership redirection, Strider ensures everything is delivered without delay.</li>
				
				<li><code>Token and Access Management:</code>
					Facilitate the purchase of digital tokens or memberships with our optimized conversion system. Receive a clear, easy-to-use link and token management process that guarantees smooth access for your users.</li>
				
				<li><code>Third-Party Handling:</code>
					Let Strider manage the processes that involve external platforms or complex integrations. From payments to ticket handling, we ensure these external processes are handled efficiently, saving you time and resources.</li>

			    <h3>How it works</h3>
			<li><code> Share Your Needs:</code>
				Tell us about the third-party process or link management task you need help with.</li>
				
			<li><code> We Handle the Details:</code>
				Strider manages the process, whether it's distributing links or overseeing conversions.</li>
				
			<li><code> Seamless Experience:</code>
				Your users or customers receive the information they need through Strider, without any hassle.</li>
				</ul>
		</main>
		<Footer />
	</body>
</html>
