---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>🏇 Hello, Strider!</h4>
			By partnering with Pulley, you can use the link below to receive your token or ticket through Strider. Happy Striding!
            <br>
            Once you complete the process, you should receive your link. Be sure to check your spam folder if you don’t see it right away!
            <br><br>
            <a class="link_" href="https://pul.ly/b/328266">Get Link</a>
		</main>
		<Footer />
	</body>
</html>
